doctype html
- var stars = {'1': '★☆☆', '2': '★★☆', '3': '★★★', 'N': 'Native'}
html
    head
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        link(href="https://fonts.googleapis.com/css?family=Roboto|Scope+One",
             rel="stylesheet")
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="css/style.css")
        title CV
    body: .cv
        .cv-header
            .cv-header-name.serif.
                #{cv.personal.first_name}
                #{cv.personal.last_name}
            .cv-header-cv.serif.
                Curriculum Vitae
            hr
        .cv-section.row
            .cv-section-header.col-xs-3
                .cv-section-title.serif Personal
            - var c = cv.personal
            .cv-section-entries.col-xs-9
                .row
                    .cv-per-val.sans.col-xs-6.
                        #{c.first_name} #{c.middle_name} #{c.last_name}
                    .cv-per-val.sans.col-xs-6 #{c.telephone}
                .row
                    .cv-per-val.sans.col-xs-6.
                        #{c.address.base}
                    .cv-per-val.sans.col-xs-6 Skype: #{c.skype}
                .row
                    .cv-per-val.sans.col-xs-6.
                        #{c.address.postal_code}, #{c.address.city},
                        #{c.address.state}, #{c.address.country}
                    .cv-per-val.sans.col-xs-6.
                        #[a(href='mailto:'+c.email) #{c.email}]
                .row
                    .cv-per-val.sans.col-xs-6 #{c.others[0]}
                    .cv-per-val.sans.col-xs-6 #[a(href=c.site) #{c.site}]


        .cv-section.row
            .cv-section-header.col-xs-3
                .cv-section-title.serif Education
            .cv-section-entries.col-xs-9
                each c in cv.education
                    .cv-entry
                        .cv-entry-header.row
                            .cv-entry-title.serif.col-xs-4 #{c.title}
                            .col-xs-8
                                .cv-entry-inst.sans   #{c.institution}, #{c.country}
                                .cv-entry-period.sans [#{c.start} - #{c.end}]
                        hr
                        .cv-entry-body
                            if c.description
                                .cv-entry-description.sans #{c.description}
                            if c.thesis_title
                                .cv-entry-thesis.sans.
                                    #{c.thesis_type}: #{c.thesis_title}

        .cv-section.row
            .cv-section-header.col-xs-3
                .cv-section-title.serif Experience
            .cv-section-entries.col-xs-9
                each c in cv.experience
                    .cv-entry
                        .cv-entry-header.row
                            .cv-entry-title.serif.col-xs-4 #{c.title}
                            .col-xs-8
                                .cv-entry-inst.sans   #{c.institution}, #{c.country}
                                .cv-entry-period.sans [#{c.start} - #{c.end}]
                        hr
                        .cv-entry-body
                            .cv-entry-description.sans #{c.description}

        .cv-section.row
            .cv-section-header.col-xs-3
                .cv-section-title.serif Scientific
                .cv-section-title.serif Articles
            .cv-section-entries.col-xs-9
                each c in cv.publications
                    .cv-pub
                        .cv-pub-authors.sans #{c.authors}
                        .cv-pub-title.sans #{c.title}
                        if c.link
                            .cv-pub-cite.sans.
                                #{c.citation} [#[a(href=c.link) #{c.link}]]
                        else
                            .cv-pub-cite.sans.
                                #{c.citation}
                        if c.notes
                            .cv-pub-notes.sans.
                                (#{c.notes})

        .cv-section.row
            .cv-section-header.col-xs-3
                .cv-section-title.serif Skills
            .cv-section-entries.col-xs-9
                .cv-entry
                    .cv-entry-title.serif Programming & Software
                    hr
                    .cv-prog-cat.row
                        .cv-cat-title.col-xs-3.sans Experienced
                        .col-xs-9.sans.
                            Python (numpy, pandas, matplotlib, among others),
                            C, C++, GNU/Linux
                    .cv-prog-cat.row
                        .cv-cat-title.col-xs-3.sans Sporadic Use
                        .col-xs-9.sans.
                            CUDA, Javascript, HTML/CSS, OS/X, Windows, Latex, Word,
                            Power Point
                    .cv-prog-cat.row
                        .cv-cat-title.col-xs-3.sans Basic Notions
                        .col-xs-9.sans.
                            R, SQL, Excel

                .cv-entry
                    .cv-entry-title.serif Languages
                    hr
                    .row
                        .col-xs-3.sans English (Fluent)
                        .col-xs-4.sans Portuguese (Native)
                        .col-xs-5.sans French (Conversational)



//-        .cv-section.row
//-            .cv-section-header.col-xs-3
//-                .cv-section-title.serif Skills
//-            .cv-section-entries.col-xs-9
//-                .cv-entry
//-                    .cv-sk-title.serif Programming
//-                    hr
//-                    .row
//-                        each c in cv.skills.programming
//-                            .cv-sk-lang.col-xs-2.sans #{c[0]}
//-                    .row
//-                        .col-xs-6.sans.
//-                            Python includes Numpy, pandas, matplotlib
//-                        .cv-sk-lang-other.sans.col.xs-6.
//-                            Other: #{cv.skills.other_programming}
//-
//-                .cv-entry
//-                    .cv-sk-title.serif Software
//-                    hr
//-                    .row
//-                        each c in cv.skills.software
//-                            .cv-sk-lang.col-xs-2.sans #{c[0]}
//-
//-                .cv-entry
//-                    .cv-sk-title.serif Languages
//-                    hr
//-                    .row
//-                        each c in cv.skills.languages
//-                            .cv-sk-lang.col-xs-2.sans #{c[0]}
//-                            .cv-sk-rate.col-xs-2.sans #{c[1]}
